<!-- 继承 base.html 基础模板 -->
{% extends "./base.html" %}

<!-- 新增的样式文件 -->
{% block style %}
{% endblock %}

<!-- 主体的主要内容 -->
{% block content %}
<div class="container-fluid">
    <div class="body advert">
        <ol class="breadcrumb">
            <li><a href="/back/source_list">资源文章管理</a></li>
            <li class="active">文章列表</li>
        </ol>
        <div class="page-title">
            <a href="/back/source_add" class="btn btn-danger btn-sm pull-right">添加资源文章</a>
        </div>
        <div class="panel panel-default">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>序号</td>
                    <th>标题</th>
                    <th>缩略图</th>
                    <th>是否收藏</th>
                    <th>价格</th>
                    <th>作者</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
        <!-- 分页 -->
        <ul id="pagination" class="pagination pull-right">
            <!-- 手动制作的分页器 -->
<!--            <li><a href="/back/source_list?page={{page-1}}">上一页</a></li>-->
<!--            {% for i in range(1, totalPage+1) -%}-->
<!--                {% if(i===page) %}-->
<!--                    <li class="active"><a href="#">{{i}}</a></li>-->
<!--                {% else %}-->
<!--                    <li><a href="/back/source_list?page={{i}}">{{i}}</a></li>-->
<!--                {% endif %}-->
<!--            {%- endfor %}-->
<!--            <li><a href="/back/source_list?page={{page+1}}">下一页</a></li>-->
        </ul>
    </div>
</div>
{% endblock %}

<!--  新增的脚本文件  -->
{% block script %}
<script src="./js/jquery.twbsPagination.js"></script>
<script>
    $(function (){
        // 设置每页的请求数据阈值
        let pageSize = 6;

        // 请求总数据量
        $.ajax({
            url: `http://localhost:3000/back/source/api/count?pageSize=${pageSize}`,
            type: 'get',
            success: function (data){
                console.log(data);
                if (data.status === 200){
                    // 初始化分页插件
                    $('#pagination').twbsPagination({
                        totalPages: Math.ceil(data.result / pageSize),  // 计算出总页码数
                        visiblePages: 5,    // 设置显示多少个页面按钮
                        first: '首页',
                        prev: '上一页',
                        next: '下一页',
                        last: '尾页',
                        onPageClick: function (event, page){
                            // 加载对应页面数据
                            loadData(page);
                        }
                    });
                }else {

                };
            }
        });

        // 加载对应页码数据
        function loadData(page){
            $.ajax({
                url: 'http://localhost:3000/back/source/api/list',
                type: 'get',
                data: {
                    page: page,
                    pageSize: pageSize
                },
                dataType: 'json',
                success: function (data){
                    console.log(data);
                    if (data.status === 200){
                        let tpl = ``;
                        $(data.result).each((index, item)=>{
                            tpl += `
                                <tr>
                                    <td>${index}</td>
                                    <td>${item.title}</td>
                                    <td>
                                        <img src="/uploads/${item.small_img}" alt="" style="width: auto; height: 60px; display: inline-block; text-align: center;">
                                    </td>
                                    <td>${item.is_store}</td>
                                    <td>${item.price}</td>
                                    <td>${item.author}</td>
                                    <td>
                                        <a id="edit" data-id="${item._id}" class="btn btn-primary btn-xs">编辑</a>
                                        <a id="delete" data-id="${item._id}" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                            `
                        });
                        $('#tbody').html(tpl);
                    }else {
                        console.log('加载数据出错');
                    }
                }
            });
        };

       // 点击编辑
       $(document).on('click', '#edit', function (){
          let id = $(this).attr('data-id');
          window.location.href = `/back/source_edit?id=${id}`;
       });

        // 点击删除
        $(document).on('click', '#delete', function (){
            if(window.confirm('您确定要删除此项吗？')){
                let id = $(this).attr('data-id');
                // 发起请求
                $.ajax({
                    url: 'http://localhost:3000/back/source/api/deleteOne/' + id,
                    type: 'get',
                    dataType: 'json',
                    success: function (data){
                        console.log(data);
                        if (data.status === 200){
                            alert('删除成功');
                        }else {
                            alert('删除失败');
                        }
                        window.location.reload();
                    }
                })
            }
        });
    });
</script>
{% endblock %}
