<!doctype html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>幼教服务系统</title>
<meta name="keywords" content="幼教服务系统"/>
<meta name="description" content="幼教服务系统" />
<link href="Css/common.css" rel="stylesheet" media="all" />
<link href="Css/index.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="Scripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="Scripts/common.js" ></script><!---焦点图js-->
<script type="text/javascript" src="Scripts/scroll.js" ></script><!--页面中滚动及从下到上滚动js-->
<style type="text/css">
    .content01y{
        background-color: inherit;
    }
    .resource_cons_left_right img{
        width: 100%;
        margin: 15px 0;
    }

</style>
</head>
<body id="index">
<!--头部-->
<div id="web-headbar">
	<div class="web-head">
		<div class="mobile-app">
			<div class="app_l">
				<a href="http://www.todayyj.com" class="app">今日幼教</a>
			</div>			
			<div class="app_l" onmouseover="qr_show(this)" onmouseout="qr_hide(this)">
				<a href="javascript:void(0)" class="app">今日小记者小程序</a>
				<div class="app-box" style="display:none">
					<p>扫一扫，关注我吧！</p>
					<div class="xcx-er"></div>
				</div>
			</div>
			<div class="app_r" onmouseover="qr_show(this)" onmouseout="qr_hide(this)">
				<a href="javascript:void(0)" class="weixin">幼教三六五微信公众平台</a>
				<div class="app-box weixin-box" style="display:none">
					<p>扫一扫，关注我吧！</p>
					<div class="weixin-er"></div>
				</div>
			</div>
		</div>
		<div class="head-tool">
			<div class="toolbox">
				<div class="toolbox-simple">
					<a class="toolbox-one-link" href="#">登录</a>
				</div>
			</div>
			<div class="line">|</div>
			<div class="toolbox">
				<div class="toolbox-simple ">
					<a href="#" class="toolbox-one-link" target="_blank">免费注册</a>
				</div>
			</div>
			<div class="line">|</div>
			<div class="toolbox">
				<div class="toolbox-simple toolbox-r">
					<a href="#" class="toolbox-one-link" target="_blank">消息通知</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="Scripts/header.js"></script>
	

<!--头部end-->
<!--logo-->
<div id="headerbar">
    <div class="clearfix" id="header">
        <div class="logo">
            <a class="logo-img" href="/"></a>
        </div>
        <div class="menu_nav">
            <ul class="navs clearfix">
                <li><a href="/web" >首页</a></li>
                <li><a href="/web/res" class="on">幼教资源</a></li>
                <li><a href="#">职场人生</a></li>
                <li><a href="#">活动专区</a></li>
                <li><a href="#">直播课堂</a><img src="Images/new_ico.png" class="new_nav"/></li>
            </ul>
        </div>     
        <div class="search_btn">
            <img src="Images/search_btn.png"/>
        </div> 
    </div>
</div>
<!--logo end-->

<!--主体部分开始-->
<div class="mainwraper" style="display: flex; align-items: center; justify-content: center;">
    <div class="content content01y clearfix">
        <div class="mainbox clearfix">
            <div class="here_url">
                <a href="/web/res">幼教资源 > </a><span class="here_url_title">正文</span>
            </div>
            <div id="tpl_wrapper" class="resource_cons no_top" style="display: flex; align-items: center; justify-content: center;">
            </div>
        </div>
    </div>
</div>

<div class="tool-area clearfix">
    <div class="w1280">
        <div class="tool_a_l fl">
            <ul class="clearfix">
                <li class="first"><h3>帮助中心</h3></li>
                <li><a href="#">账号管理</a></li>
                <li><a href="#">积分规则</a></li>
                <li><a href="#">下载资源</a></li>
            </ul>
            <ul class="clearfix">
                <li class="first"><h3>服务支持</h3></li>
                <li><a href="#">售后政策</a></li>
                <li><a href="#">自助服务</a></li>
                <li><a href="#">相关下载</a></li>
            </ul>
            <ul class="clearfix">
                <li class="first"><h3>入驻平台</h3></li>
                <li><a href="#">幼儿园入驻</a></li>
                <li><a href="#">教研室入驻</a></li>
            </ul>
            <ul class="clearfix">
                <li class="first"><h3>关于我们</h3></li>
                <li><a href="#">加入我们</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <div class="tool_a_r fl">
            <ul class="clearfix">
                <li><img src="images/weixin.png" width="100" height="100"><p>关注微信公众平台</p></li>
                <li><img src="images/xcx.jpg" width="100" height="100"><p>使用幼教小程序</p></li>
            </ul>
        </div>
        <div class="tool_service fr">
            <div class="service-tel">400-100-5678</div>
            <div class="service-time">周一至周日  8:00-18:00</div>
            <div class="service-date"><img src="images/service_ico.png"/>24小时在线客服</div>
        </div>

    </div>
</div>
<div class="footerbar clearfix">
    <div class="w1280">
        <p>主办单位：中华人名共和国教育部  运行维护：中央电化教育馆  技术支持：今日教育集团</p>
        <p>国家教育资源公共服务平台 版权所有 京ICP备0905918号-3</p>
    </div>
</div>

</body>
<script src="./Script/jquery.js"></script>
<script>
    $(function (){
        // 获取详情数据id
        let id = window.location.search.split('=')[1];

        if(id){
            // 发起请求
            $.ajax({
                url: 'http://localhost:3000/web/source/api/content/' + id,
                type: 'get',
                success: res => {
                    console.log(res);
                    if (res.status === 200){
                        //注入数据
                        let tpl = `
                            <div class="resource_cons_left" style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding-bottom: 50px;">
                                <div class="resource_cons_left_top">
                                    <div class="resource_cons_left_top_title" style="text-align: center">
                                        ${res.result.title}
                                    </div>
                                    <div class="resource_cons_left_top_desc" style="display: flex; align-items: center; justify-content: center; padding: 20px 0;">
                                        <div class="resource_cons_left_top_descx"><img src="images/copyright_ico.png"/>来自：${res.result.author}</div>
                                        <div id="read_count" class="resource_cons_left_top_descx"><img src="images/view_ico.png"/>${res.result.read_count}</div>
                                        <div class="resource_cons_left_top_descx"><img src="images/date_ico.png"/>${res.result.add_time}</div>
                                    </div>
                                </div>
                                <div class="resource_cons_left_right">
                                    ${res.result.content}
                                </div>
                                <div class="resource_cons_left_bottom">
                                    <div class="comment_box">
                                    </div>
                                </div>
                            </div>
                        `
                        $('#tpl_wrapper').html(tpl);
                    }
                }
            })
        }else {
            console.log('页面id不存在');
        };

        // 更新阅读数
        $.ajax({
            url: 'http://localhost:3000/web/source/api/content/read_count/' + id,
            type: 'get',
            success: res => {
                console.log(res)
                if (res.status === 200){
                    $('#read_count').text(res.result.read_count);
                }else {
                    console.log('阅读数更新失败');
                }
            }
        });


    });
</script>
</html>